<!DOCTYPE html>
html(lang="en")
  head
    include partials/head.pug
  body
    #wrap.wrap
      include partials/header.pug
      .main
        block content
      include partials/footer.pug
