.header
  .container
    .navbar
      h1.mb-0.d-flex.align-item-center
        a.navbar__logo-link(href='index.html') 測試 LOGO
      a#hamburger_link.navbar__hamburger.text-decoration-none(title='測試 LOGO', href='#')
        i.fas.fa-bars
      ul#menu.navbar__menu.list-unstyled.mb-0
        li.navbar__menu__item
          a.navbar__menu__link.text-decoration-none(href='./index.html', title='首頁') 首頁
        li.navbar__menu__item
          a.navbar__menu__link.text-decoration-none(href='./about.html', title='關於我們') 關於我們
        li.navbar__menu__item
          a.navbar__menu__link.text-decoration-none(href='./service.html', title='服務項目') 服務項目
        li.navbar__menu__item
          a.navbar__menu__link.text-decoration-none(href='./contact.html', title='聯絡我們') 聯絡我們
    #sidebar.sidebar
      .sidebar__close-box
        a#icon-close-sidebar.text-decoration-none.sidebar__close-box__icon(href='#')
          i.fas.fa-times
      ul.sidebar__menu.list-unstyled.mb-0
        li.sidebar__menu__item
          a.sidebar__menu__item__link.text-decoration-none(href='./index.html', title='首頁') 首頁
        li.sidebar__menu__item
          a.sidebar__menu__item__link.text-decoration-none(href='./about.html', title='關於我們') 關於我們
        li.sidebar__menu__item
          a.sidebar__menu__item__link.text-decoration-none(href='./service.html', title='服務項目') 服務項目
        li.sidebar__menu__item
          a.sidebar__menu__item__link.text-decoration-none(href='./contact.html', title='聯絡我們') 聯絡我們
